<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <!-- Konten navbar seperti tampilan waktu, login, tautan sign up -->
    </div>
    <div class="dashboard">
        <div class="upper-half">
            <div id="map" class="map">Map will be here</div>
            <div id="pin-details" class="detail">Details of the pin points</div>
        </div>
        <div class="second-half">
            <div class="pintu-air-selector">
                <label for="pintu-air">Pintu Air:</label>
                <select id="pintu-air">
                    <option value="Bendung Katulampa">Bendung Katulampa</option>
                    <option value="Pos Depok">Pos Depok</option>
                    <option value="PA Karet">PA Karet</option>
                    <option value="Mangarai BKB">Mangarai BKB</option>
                    <option value="Pasar Ikan - Laut">Pasar Ikan - Laut</option>
                    <option value="Pos Angke Hulu">Pos Angke Hulu</option>
                    <option value="Pos Cipinang Hulu">Pos Cipinang Hulu</option>
                    <option value="Pos Krukut Hulu">Pos Krukut Hulu</option>
                    <option value="Pos Pesanggrahan">Pos Pesanggrahan</option>
                    <option value="Pos Sunter Hulu">Pos Sunter Hulu</option>
                    <option value="Pulo Gadung">Pulo Gadung</option>
                    <option value="Waduk Pluit">Waduk Pluit</option>
                </select>
            </div>
            <div id="graph" class="grafik">
                <img id="floodgate-graph" src="" alt="Floodgate Graph">
            </div>
            <div class="weather-x-status">
                <div id="forecast" class="forecast">Weather forecast will be here</div>
                <div id="status" class="status">Floodgate and pump status</div>
            </div>
            <div id="floodgate-table" class="floodgate-table">
                <!-- Tabel ketinggian pintu air akan di-insert secara dinamis disini -->
                <table>
                    <thead>
                        <tr>
                            <td>{{table[0].nama}}</td>
                            {%for item in table[0].data%}
                            <td>{{item}}</td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for isi in table[1:] %}
                        <tr>
                            <td>{{isi.nama}}</td>
                            {% for item in isi.data %}
                            <td>{{item}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./script.js"></script>
</body>
</html>