<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <span id="clock"></span>
    </div>
    <div class="dashboard" data-graph-url="{{ url_for('static', filename='graph') }}">
        <div class="upper-half">
            <div id="map" class="map">
                <iframe id="peta" src="https://www.google.com/maps/d/embed?mid=1GGFL4ClVuXvSGfOrLbnaILqJ5GQtVAo&ehbc=2E312F&noprof=1" width="100%" height="100%"></iframe>
            </div>
            <div id="weather">
                <div id="forecast" class="forecast">
                <h1 id="city">Kota</h1>
                <h2 id="description">Description</h2>
                <h3 id="temp"></h3>
                <div class="minmax">
                    <p id="min"></p>
                    <p id="max"></p>
                </div>
                <h3 id="humidity"></h3>
                </div>
                <div id="5-days" class="5-days"></div>
            </div>
        </div>
        <div class="second-half">
            <div class="pintu-air-selector">
                <label for="pintu-air">Pintu Air:</label>
                <select id="pintu-air" onchange="updatePintuAir">
                    <option value="Bendung Katulampa">Bendung Katulampa</option>
                    <option value="Pos Depok">Pos Depok</option>
                    <option value="PA. Karet">PA Karet</option>
                    <option value="Manggarai BKB">Mangarai BKB</option>
                    <option value="Pasar Ikan - Laut">Pasar Ikan - Laut</option>
                    <option value="Pos Angke Hulu">Pos Angke Hulu</option>
                    <option value="Pos Cipinang Hulu">Pos Cipinang Hulu</option>
                    <option value="Pos Krukut Hulu">Pos Krukut Hulu</option>
                    <option value="Pos Pesanggrahan">Pos Pesanggrahan</option>
                    <option value="Pos Sunter Hulu">Pos Sunter Hulu</option>
                    <option value="Pulo Gadung">Pulo Gadung</option>
                    <option value="Waduk Pluit">Waduk Pluit</option>
                </select>
            </div>
            <div id="graph" class="grafik">
                <img id="floodgate-graph" src="" alt="Floodgate Graph">
            </div>
            <div id="floodgate-table" class="floodgate-table">
                <!-- Tabel ketinggian pintu air akan di-insert secara dinamis disini -->
                <table>
                    <thead>
                        <tr>
                            <td>{{table[0].nama}}</td>
                            {%for item in table[0].data%}
                            <td>{{item}}</td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for isi in table[1:] %}
                        <tr>
                            <td>{{isi.nama}}</td>
                            {% for item in isi.data %}
                            <td>{{item}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static',filename='script.js') }}"> </script>
</body>
</html>